<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Polling site</title>
  </head>
  <body>
    <nav class='navbar navbar-light' style='background-color: #515c63'>
      <span class="navbar-brand ml-12 mx-auto pt-12 h2">Pollster</span>
    </nav>
    <br>
    <div class="container">
      <div class="card w-50" style="margin-left: 280px">
        <div class="card-body">
          <h5 class="card-title" style="margin-left: 180px">Welcome to Pollster</h5>
          <p class="card-text" style="margin-left: 120px">This is the polling app where you can cast your polls.</p>
          <a href="{% url 'polls:question' %}" class="btn btn-dark" style="margin-left: 200px">View Available Polls</a>
        </div>
      </div>
    </div>
  </body>
</html>
