<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <a href="{% url 'polls:question' %}" class = "btn btn-dark" style="margin-left: 550px">Back to Polls</a>
    <h1 style = "margin-left: 380px;">{{question}}</h1>
    <br>
    <form method="POST" action="{% url 'polls:results' question.id %}"> {% csrf_token %}
    {% for option in options %}
      <div class="card" style="width: 500px; margin-left: 380px;">
        <div class="card-body">
          <p class = "card-text">
              <input type="radio" name="choice" id="button" value="{{option.id}}">
              <label for="button">{{option}}</label>
            <br>
          </p>
          <br>
        </div>
      </div>
      <br>
    {%endfor%}
      <input type="Submit" name="" value="Vote" class="btn btn-success" style="margin-left: 430px; width:400px;">
    </form>
  </body>
</html>
